{% extends 'base.html' %}
{% block title %}Mighty Missions Contact Information{% endblock %}

{% block head %}
<style> 
html, body {
  background-color:blanchedalmond;
  background-size: cover;
  color:black;
}
.img-fluid {
width:550px !important;
display: block;
margin:auto;

}


</style>
{% endblock %}


{% block body %}
 
  
<div class="container-fluid text-center">    
  <div class="row">
    
    <div class="col-sm-8 text-left"> 
      
      <h1>About Mighty Missions</h1>
      <p>Mighty Missions is a database of non-profits, social enterprises, and other mission-based organizations,
       created to faciliatate these organizations in collaborating with each other. We believe connections based on similar causes and mission
       will bring a greater reward and enable each organization to increase their ability to meet the needs of their communities. 
           
      </p>
     
</div>
  </div>
  <div class='row'>
    <div class='col'>
      <img src='/static/img/Online Community.jpg'class="img-fluid">
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>"Two are better than one; because they have a good return for their labor."  Ecc 4:9</p>
</footer>

{% endblock %}