{% extends 'base.html' %}
{% block title %}Mighty Missions Contact Information{% endblock %}

{% block body %}
 
  I
<div class="container-fluid text-center">    
  <div class="row content">
    
    <div class="col-sm-8 text-left"> 
      <h1>To Contact Mighty Missions Network</h1>
     
      <p>CEO/Founder:  Sherry Matlock
         Email: www.mightymissions.com 
      </p>
      <hr>
     </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>"Two are better than one; because they have a good return for their labor."  Ecc 4:9</p>
</footer>

{% endblock %}