{% extends 'base.html' %}
{% block title %}Mighty Missions Home{% endblock %}

{% block body %}
  <h1>Mighty Missions Network</h1>

  <div>
      
    Mighty Missions is a database for non-profits, social enterprises, and other mission-based organizations.
      Our purpose is to connect organizations that share the same mission or cause so they can 
      work together and collaborate on strategies and plans to meet their missions.  
            "Two are better than one; because they have a good return for their labor."  Ecclesiastes 4:9
   
    </div>

  <h2>Type in your organization name</h2>
  
  <form action="/login" method="GET">
    <p>
        <p><label>Organization: <input type="text" name='org_name'></label></p>
        
    </p>
    
    <p>
      <input type="submit">
    </p>
  </form>

{% endblock %}