{% extends 'base.html' %}
{% block title %}Mighty Missions Home{% endblock %}

{% block head %}
<style> 
html, body {
  background-image: url('/static/img/AdobeStock_181205632.jpeg');
  background-size: cover;
  color:white;
}

#flash {
  color:white;
    }

</style>
{% endblock %}


{% block body %}
 
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-8 text-left"> 
      <h1>Welcome to Mighty Missions</h1>
      
      <h3></h3>
      <form action="/login" method="GET">
        <p>
            <p><label>Sign In Organization Name: <input type="text" name='org_name'></label>
            <button type="submit" class="btn btn-warning">Submit</button>
      </form>
        </p>
      </form>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>"Two are better than one; because they have a good return for their labor."  Ecc 4:9</p>
</footer>

{% endblock %}