{% extends 'base.html' %}
{% block title %}Mighty Missions List of Organizations{% endblock %}

{% block head %}
<style> 
html {
  background-image: url('static/img/Nonprofit Development.jpeg');
  color: white;
  background-size: cover;
  font-weight: bold;
}
.body {
    margin: 48px;
}
#flash {
      color:black;
    }

</style>
{% endblock %}



{% block body %}

    <h1>Mighty Missions List of Organizations</h1>  
    <br> 
    {% for org in orgs %}

    <h4>{{org.org_name}}</h4> 
   
    {% endfor %}

{% endblock %}