!{% extends 'base.html' %}
{% block title %}Mighty Missions Profile Page{% endblock %}

{% block body %}

    <h1>Mighty Missions Profile</h1>  
  
    <h1><label>Organization:</label>  {{org.org_name}} 

    <h1><label>Organization ID:</label> {{org.org_id}}

    <h1><label>Mission:</label> {{org.mission}}

    <h1><label>Cause:</label>  {{org.cause.cause_name}}

    </h1>
    
    
    <form action="/search" method="GET">
    <p>
        <p><label>To search other organizations click below:</label></p>
        
    </p>
    
    <p>
      <input type="submit">
    </p>
  </form>


{% endblock %}