!{% extends 'base.html' %}
{% block title %}Mighty Missions Profile Page{% endblock %}

{% block body %}

    <h1>Mighty Missions Profile</h1>  
  
    <h2><label>Organization ID:</label>  {{org.org_id}} 
    <h2><label>Organization Name:</label> {{org.org_name.title()}}
    <h2><label>Mission:</label> {{org.mission}}
    <h2><label>Cause:</label>  {{org.cause.cause_name.title()}}
    <h2><label>Web URL:</label> {{org.web_url}}
    <h2><label>Tagline:</label> {{org.tagline}}
    <h2><label>Image:</label> {{org.image}}
    </h2>
    
    <form action="/search" method="GET">
    <p><label>To search other organizations click submit below:</label></p>
    <input type="submit" value="Submit">
    </form>
 

{% endblock %}