{% extends 'base.html' %}
{% block title %}Mighty Missions Registration{% endblock %}

{% block body %}
  <title>Registration</title>
  
  <h1>Mighty Missions Registration</h1>

  <div>
    
    <p>This organization does not exist in our database.  To add this organization, please enter your information below:</p>
   
    </div>

  <form action="/createorg", method='POST'>
  
    <p><label>Type in the name of your Organization: <input type="text" name='org_name'></label></p>
  
    <p><label>Type in your Mission Statement: <input type="text" name="mission"></label></p>

    <p><label>Type in your Website URL: <input type="url" name="web_url"></label></p>

    <p><label>Type in your Tagline: <input type="text" name="tagline"></label></p>

    <p><label>Attach your Logo or other Image: <input type="file" name="image"></label></p>
  
    <p><label>Select the Cause Area of your Organization:</label></p>

    <p><label for="cause_id">Choose a cause:</label></p>
          <select name="cause_id" id="cause_id">
              <option value="1">Religious Activities</option>
              <option value="2">Scholarship and Financial Support</option>
              <option value="3">Youth Development, Shelter, and Crisis Services</option>
              <option value="4">Youth Education Programs and Services</option>
              <option value="5">Social Services</option>
          </select>
          <input type="submit">
      </form>


{% endblock %}