{% extends 'base.html' %}
{% block title %}Mighty Missions Registration{% endblock %}

{% block head %}
<style> 
html, body {
  background-color:wheat;
  background-size: cover;
  color:black;
}
</style>
{% endblock %}


{% block body %}
<title>Registration</title>
  
<h1>Mighty Missions Registration</h1>


<div class="container">
  <form action="/createorg", method='POST'>
    <div class="form-group">
      <label for="org_name">Enter Organization Name:</label>
      <input type="text" class='form-control' id='org_name' placeholder="Enter Organization Name" name="org_name">
    </div>

    <div class="form-group">
      <label for="mission">Enter Mission Statement:</label>
      <input type="text" class='form-control' id='mission' placeholder="Enter Mission Statement" name="mission">
    </div>

    <div class="form-group">
      <label for="web_url">Web URL:</label>
      <input type="url" class="form-control" id="web_url" placeholder="Enter Website URL" name="web_url">
    </div>
    
    <div class="form-group">
      <label for="tagline">Tagline:</label>
      <input type="tagline" class="form-control" id="tagline" placeholder="Enter Tagline" name="tagline">
    </div>
      
      <h4><label><for="cause_id">Choose a cause:</label></h4>
          <select name="cause_id" id="cause_id">
            {% for cause in causes %}  
            <option value={{cause.cause_id}}>{{cause.cause_name}}</option>
            {% endfor %}
          </select>
          <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}