{% extends 'base.html' %}
{% block title %}Mighty Missions Registration{% endblock %}

{% block body %}
  <title>Registration</title>
  
  <h1>Welcome!</h1>

  <form action="/register">
  
    <p><label>Type in the name of your Organization: <input type="text" name='org_name'></label></p>
  
    <p><label>Type in your Mission Statement: <input type="text" name="mission"></label></p>
  
    <p><label>Select the Cause Area of your Organization:</label> <select>

        <option value="cause1"></option>
        <option value="cause2"></option>
        <option value="cause3"></option>
        <option value="cause4"></option>
        <option value="cause5"></option>

    </select>
  
    <p><input type="submit"></p>
  </form>

{% endblock %}