{% extends 'base.html' %}
{% block title %}Mighty Missions Search by Cause{% endblock %}

{% block head %}
<style> 
html {
  background-image: url('static/img/Nonprofit startup2.jpeg');
  color: white;
  background-size: cover;
  font-weight: bold;
}
.body {
    margin: 48px;
}
#flash {
      color:black;
    }

</style>
{% endblock %}

{% block body %}
 
    <br>
    <h2>List of Organizations Related by Cause - {{cause_obj.cause_name}}</h2>  
    <br>
    {% for org in cause_obj.orgs %}
            
<div> 
    <h4>      {{org.org_name}}</h4>
</div>
    {% endfor %}
    
{% endblock %}