{% extends 'base.html' %}
{% block title %}Mighty Missions Search Page{% endblock %}

{% block body %}
  
    <h1>Mighty Missions Search Page</h1>


    <div>
      
    Mighty Missions is created to help organizations like yours find and connect with other
    organizations with the same mission and cause.  We believe these connections will bring
    a greater reward and enable you to increase your ability to meet the needs of your community. 
       
    </div>


    <br><br>
    <form action="/list" method="GET">
    <p><label>To retrieve a list of all Mighty Missions organizations click submit below:</label></p>
    <input type="submit">
    </form>

    <br><br>
    <form action="/searchbycause" method="GET">
        <label for="cause_obj">Choose a cause:</label>
        <select name="cause_obj" id="cause_obj">
            <option value="Religious Activities">Religious Activities</option>
            <option value="Scholarship and Financial Support">Scholarship and Financial Support</option>
            <option value="Youth Development, Shelter, and Crisis Services">Youth Development, Shelter, and Crisis Services</option>
            <option value="Youth Education Programs and Services">Youth Education Programs and Services</option>
            <option value="Social Services">Social Services</option>
        </select>
        <input type="submit">
    </form>

    <br><br>
    <form action="/searchbyname" method="POST">
        <p><label>Search for an organization by Name:<input type="text" name='org_name'></label></p>
        <input type="submit">
    </form>
    
    <br><br>
    <form action="/" method="GET">
        <p><label>To return to homepage click submit below:</label></p>
        <input type="submit" value="Submit">
    </form>


{% endblock %}