{% extends 'base.html' %}
{% block title %}Mighty Missions Search Page{% endblock %}


{% block head %}
<style> 
html, body {
  background-color:blanchedalmond;
  background-size: cover;
  color:black;
}
</style>
{% endblock %}

  
{% block body %}
  
    <h1>Mighty Missions Search Page</h1>

    <br><br>
    <form action="/list" method="GET">
    <h4><label>To retrieve a list of all Mighty Missions organizations click submit:  </label>   <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <br><br>
    <form action="/cause" method="GET">
        <h4><label for="cause_name">Search for oganizations by cause:</label></h4>
        <select name="cause_name" id="cause_name">
            {% for cause in causes %}
            <option value='{{cause.cause_name}}'>{{cause.cause_name}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    
    <br><br>
    <form action="/searchbyname" method="POST">
        <h4><label>Search for an organization by Name:  <input type="text" name='org_name'></label>   <button type="submit" class="btn btn-primary">Submit</button>
       
    </form>


{% endblock %}